*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(33, 31, 34);
    font-size: 1rem;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: block;
    flex-direction: column;
}

select, input{
    /* padding: 1rem 3rem 1rem 1rem; */
    padding: 1rem;
    font-size: 2em;
    margin: .5rem;
    /* appearance: none;
    background-image: url(chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 1.5rem; */
    /* background: none; */
    /* color: white; */
    border: 1px solid white;
    max-width: 100%;
}

select, input {
    width: 100%;
}

button{
    background: #864cbf;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 2em;
    padding: 1rem;
    margin-top: 1rem;
    /* border: 1px solid white; */
    border: none;
}

#result{
    margin: 1em 0;
    color: white;
    font-size: 2em;
    max-width: 90vw;
    cursor: copy;
    border: 1px solid white;
    padding: 1rem;
}

a{
    font-size: 2.5em;
    color: #1368ce;
}

/* Quiz */
.quiz-container {
    width: 80%;
    height: 60%;
}

.question{
    color: white;
    position: relative;
    top: -5rem;
    font-size: 3em;
    text-align: center;
    padding: 0 2rem;
}

.quiz-container .options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* gap: 2rem; */
}

.quiz-container .options div{
    width: calc(50% - 1em);
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    text-align: center;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    outline: none;
    margin: .5em;
}

.quiz-container .options div.selected{
    outline: 3px solid white;
}

.quiz-container .options div:nth-child(1){
    background-color: #e21a3b;
}
.quiz-container .options div:nth-child(2){
    background-color: #1368ce;
}
.quiz-container .options div:nth-child(3){
    background-color: #d89e01;
}
.quiz-container .options div:nth-child(4){
    background-color: #278f0e;
}

.quiz-container .buttons{
    margin-top: 2rem;
    width: 100%;
    /* gap: 2rem; */
}

.quiz-container .buttons button{
    width: calc(50% - 1em);
    border-radius: 1rem;
    border: none;
    background-color: #864cbf;
    margin: .5em;
}

.quiz-container .options .esito{
    width: 100%;
}

/* .quiz-container .buttons button:nth-child(1){
    background-color: #1368ce;
}

.quiz-container .buttons button:nth-child(2){
    background-color: #1368ce;
} */

@media (max-width: 1600px){
    body{
        font-size: .9rem;
    }
}

@media (max-width: 1400px){
    body{
        font-size: .8rem;
    }
}

@media (max-width: 1200px){
    body{
        font-size: .7rem;
    }
}

@media (max-width: 1000px){
    body{
        font-size: .6rem;
    }
}

@media (max-width: 700px){
    body{
        font-size: .5rem;
    }
}

@media (max-width: 500px){
    body{
        font-size: .4rem;
    }

    .quiz-container .options div{
        padding: 0;
    }
}

@media (max-width: 450px){
    body{
        font-size: .4rem;
    }
}